name: Build Exe Archive

on:
  release:
    types: [published]

jobs:
  build:
    name: Build executable
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: "3.12"
    - name: Install the module
      run: |
        python -m pip install --upgrade pip
        python -m pip install . --group build
    - name: Build the application
      run: |
        python application/setup.py build
    - name: Store the built application
      uses: actions/upload-artifact@v6
      with:
        name: splitguides-app
        path: build/SplitGuides_v*.zip

  add-to-github-release:
    name: >-
      Sign the zipapp with Sigstore
      and upload it to GitHub Release
    needs:
    - build
    runs-on: ubuntu-latest
    permissions:
      contents: write  # IMPORTANT: mandatory for making GitHub Releases
      id-token: write  # IMPORTANT: mandatory for sigstore
    steps:
    - name: Download the zipapp
      uses: actions/download-artifact@v7
      with:
        name: splitguides-app
        path: dist/
    - name: Sign the zipapp with Sigstore
      uses: sigstore/gh-action-sigstore-python@v3.2.0
      with:
        release-signing-artifacts: false
        inputs: >-
          ./dist/*.zip
    - name: Upload artifact signature to GitHub Release
      env:
        GITHUB_TOKEN: ${{ github.token }}
      # Upload to GitHub Release using the `gh` CLI.
      # `dist/` contains the built packages, and the
      # sigstore-produced signatures and certificates.
      run: >-
        gh release upload
        '${{ github.ref_name }}' dist/**
        --repo '${{ github.repository }}'
